/* Header */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    max-width: 1400px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.headr__logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text);
    user-select: none;
}

.headr__logo span {
    color: var(--color-primary);
}

.menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.menu__item {
    transition: all 300ms;
    padding: 2px 8px;
    height: 30px;
    border-bottom: 2px solid transparent;
}

.menu__item:hover {
    border-bottom-color: var(--color-primary);
}

.menu__link {
    color: #000;

}

.header__btn {
    padding: 0 32px;
}

/* Hero Section*/
.hero {
    background: url(../public/pics/gym-header.jpg) no-repeat center -40px;
    background-size: cover;
    height: 500px;
    position: relative;
    color: #fff;
}

.hero__wrap {
    position: relative;
    z-index: 1;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 200px;
    text-align: center;
}

.hero__title {}

.hero__subtitle {}

.hero__cta {
    font-size: 12px;
}

.hero__btn {
    padding: 4px 0;
    width: 100%;
}


.hero__statistic {
    margin-top: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero__foundation,
.hero__athletes,
.hero__hour {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__foundation-num,
.hero__athletes-num,
.hero__hour-num {
    font-size: 18px;
}

.hero__foundation-text,
.hero__athletes-text,
.hero__hour-text {
    font-size: 16px;
}

.hero__fade {
    position: absolute;
    height: 500px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    bottom: 0;
}

/* About Section */
.about {
    padding-top: 80px;
}

.about__title {
    text-align: center;
    color: var(--color-text);
}

.about__title span {
    color: var(--color-primary);
}

.about__subtitle {
    text-align: center;
    color: var(--color-text);
    font-size: 16px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 16px;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
}

.about__img {
    height: 300px;
}

.about__text {
    font-size: 16px;
    line-height: 1.6;
    padding: 16px;
    text-align: justify;
}

.fade__box {
    position: absolute;
    background: linear-gradient(to top, rgba(249, 249, 249, 1), rgba(249, 249, 249, 0));
    width: 100%;
    height: 50px;
    top: 250px;
}

.content2 {}

.content2 .about__img {
    width: 100%;
}

.about__feautures {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.about__feauture {
    width: 100%;
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.about__feauture-icon {
    color: var(--color-primary);
    font-size: 20px;
}

/* Responsive */
@media (min-width: 576px) {

    /* Header */
    nav {
        height: 64px;
    }

    .headr__logo {
        font-size: 26px;
    }

    .header__btn {
        font-size: 20px;
        padding: 0 40px;
    }

    /* Hero Section*/
    .hero__content {
        padding-top: 180px;
    }

    .hero__cta {
        font-size: 16px;
    }

    .hero__btn {
        max-width: 400px;
        margin: 0 auto;
    }

    .hero__statistic {
        justify-content: space-around;
    }

    /* About Section */
    .about__img {
        height: 350px;
    }

    .about__text {
        font-size: 18px;
        line-height: 1.8;
    }

    .fade__box {
        top: 300px;
    }

    .about__feauture {
        font-size: 20px;
    }

    .about__feauture-icon {
        font-size: 24px;
    }
}

@media (min-width: 768px) {

    /* Header */
    .menu {
        display: flex;
    }

    /* Hero Section*/
    .hero,
    .hero__wrap,
    .hero__fade {
        height: 600px;
    }

    .hero__content {
        padding-top: 240px;
    }

    .hero__cta {
        font-size: 20px;
    }

    .hero__btn {
        max-width: 450px;
    }

    .hero__statistic {
        margin-top: 80px;
    }

    .hero__foundation-num,
    .hero__athletes-num,
    .hero__hour-num {
        font-size: 20px;
    }

    .hero__foundation-text,
    .hero__athletes-text,
    .hero__hour-text {
        font-size: 18px;
    }

    /* About Section */
    .about__content {
        flex-direction: row;
        height: 250px;
    }

    .about__img {
        min-width: 50%;
        height: 100%;
    }

    .about__text {
        min-width: 50%;
        font-size: 16px;
        padding: 24px;
    }

    .content2 {
        flex-direction: row-reverse;
    }

    .about__feauture {
        font-size: 22px;
    }

    .about__feauture-icon {
        font-size: 28px;
    }
}

@media (min-width: 992px) {

    /* Hero Section */
    .hero,
    .hero__wrap,
    .hero__fade {
        height: 700px;
    }

    .hero__content {
        text-align: start;
    }

    .hero__btn {
        margin: 0;
        max-width: 500px;
    }

    .hero__statistic {
        margin-top: 100px;
    }

    .hero__foundation-num,
    .hero__athletes-num,
    .hero__hour-num {
        font-size: 22px;
    }

    .hero__foundation-text,
    .hero__athletes-text,
    .hero__hour-text {
        font-size: 20px;
    }

    /* About Section */
    .about__subtitle {
        font-size: 20px;
    }

    .about__content {
        height: 300px;
    }

    .about__text {
        min-width: 50%;
        font-size: 20px;
        padding: 32px;
    }

    .about__feautures {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .about__feauture {
        width: 48%;
        font-size: 20px;
        justify-content: center;
    }

    .about__feauture:last-child {
        width: 100%;
    }
}

@media (min-width: 1200px) {

    /* Hero Section */
    .hero__cta {
        font-size: 24px;
    }

    .hero__btn {
        max-width: 600px;
        font-size: 18px;
        padding: 6px 0;
    }



    .hero__statistic {
        justify-content: center;
        gap: 180px;
    }

    /* About Section */
    .about__subtitle {
        font-size: 26px;
    }

    .about__content {
        height: 350px;
    }

    .about__text {
        font-size: 24px;
    }

    .fade__box {
        top: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(to right, rgba(249, 249, 249, 1), rgba(249, 249, 249, 0));
        right: 504px;
    }

    .content2 .fade__box {
        background: linear-gradient(to left, rgba(249, 249, 249, 1), rgba(249, 249, 249, 0));
        right: 554px;
    }

    .about__feautures {
        margin-top: 120px;
        row-gap: 40px;
    }

    .about__feauture {
        font-size: 24px;
    }
}

@media (min-width: 1400px) {

    /* Hero Section */
    .hero,
    .hero__wrap,
    .hero__fade {
        height: 750px;
    }

    .hero__content {
        height: 510px;
    }

    .hero__cta {
        font-size: 28px;
    }

    .hero__btn {
        max-width: 680px;
        font-size: 20px;
        padding: 4px 0;
    }

    /* About Section */
    .about {
        padding-top: 120px;
    }

    .about__subtitle {
        font-size: 30px;
    }

    .about__content {
        height: 400px;
    }

    .about__text {
        padding: 56px;
    }

    .fade__box {
        right: 619px;
    }

    .content2 .fade__box {
        right: 669px;
    }

    .about__feauture {
        font-size: 26px;
    }

    .about__feauture-icon {
        font-size: 30px;
    }
}