@font-face {
  font-family: "vazir-bold";
  src: url(../public/fonts/Vazirmatn-Bold.ttf) format(truetype);
}

@font-face {
  font-family: "vazir-medium";
  src: url(../public/fonts/Vazirmatn-Medium.ttf) format(truetype);
}

:root {
  --color-primary: #d4af37;
  --color-background: #f9f9f9;
  --color-secondary: #000;
  --color-text: #4a4a4a;
  --color-accent: #c0c0c0;
  --color-hover: #b68d06;
}

/* Reset */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  background: transparent;
}

body {
  font-family: "vazir-medium";
  font-size: 16px;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "vazir-bold";
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

a,
button,
input,
textarea {
  font-family: inherit;
}
button{
  cursor: pointer;
}

li{
  list-style-type: none;
}

/* Components */
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: var(--color-primary);
  font-family: "vazir-bold";
  border-radius: 16px;
  transition: all 250ms;
}

.btn-primary:hover {
  background-color: var(--color-hover);
  color: var(--color-accent);
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  border-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 16px;
  transition: all 250ms;
}

.secondary-btn:hover {
  color: #fff;
  background-color: var(--color-primary);
}

/* Grid */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    width: 54rem;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 72rem;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 96rem;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 4px;
  }
}